.quilt-block-form {
  max-width: 1200px;
  margin: 40px auto;
}

label {
  display: block;
}

.quilt-block-option-row {
  display: flex;
}

.quilt-block-option {
  width: 150px;
  height: 150px;
  margin: 10px
}

.quilt-block-option img {
  max-width: 100%;
  max-height: 100%;
}

.quilt-block {
  width: 300px;
  height: 300px;
  border: 1px solid black;
}

.quilt-block img {
  max-width: 90%;
  max-height: 90%;
}