.quilt-block-form {
  max-width: 1200px;
  margin: 40px auto;
}

label {
  display: block;
}

.quilt-block-option-row {
  display: flex;
}

.quilt-block-option {
  width: 150px;
  height: 150px;
  margin: 10px
}

.quilt-block-option img {
  max-width: 100%;
  max-height: 100%;
}

.quilt-block {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  text-align: center;
}

.quilt-block img {
  max-width: 80%;
  max-height: 80%;
}

.quilt {
  display: flex;
  flex-wrap: wrap;
}

.add {
  font-size: 200px;
}

a {
  text-decoration: none;
}